In [22]:
import pandas as pd

In [23]:
df_calculations = pd.read_csv('calculator_statistics.csv')
df_calculations

   action_type      results  execution_time
0            !   120.000000    2.100000e-06
1            +    50.000000    2.600000e-06
2            -     1.000000    2.700000e-06
3            *   625.000000    1.300000e-06
4            /    31.500000    1.100000e-06
5            ^  3125.000000    2.300000e-06
6            %    25.000000    1.100000e-06
7            /     1.000000    2.000000e-06
8            +     4.000000    2.000000e-06
9            /     3.758199    1.000000e-06
10           +   627.000000    2.200000e-06
11           -   778.000000    8.000000e-07
12           -     4.000000    1.200000e-06
13           *   625.000000    9.000000e-07
14           /    55.545455    1.000000e-06

# Total number of times the calculator performed addition operation

In [24]:
condition = df_calculations['action_type'] == '+'
df_calculations[condition].value_counts('action_type')

action_type
+    3
Name: count, dtype: int64

# Total number of times the calculator performed subtraction operation

In [25]:
condition = df_calculations['action_type'] == '-'
df_calculations[condition].value_counts('action_type')

action_type
-    3
Name: count, dtype: int64

# Calculating average number of times calculator performed elementary operations

In [26]:
condition_1 = df_calculations['action_type'] == '+'
condition_2 = df_calculations['action_type'] == '-'
condition_3 = df_calculations['action_type'] == '*'
condition_4 = df_calculations['action_type'] == '/'

In [27]:
count_of_all_4_conditions = df_calculations[condition_1 | condition_2 | condition_3 | condition_4].value_counts('action_type')

In [28]:
count_of_all_4_conditions.mean()

3.0

# Count of all operations

In [30]:
df_calculations['action_type'].value_counts()

action_type
/    4
+    3
-    3
*    2
!    1
^    1
%    1
Name: count, dtype: int64

# Sorting the data frame by time of execution descending

In [31]:
sorted_by_exec_time = df_calculations.sort_values('execution_time', ascending=False)

In [32]:
sorted_by_exec_time

   action_type      results  execution_time
2            -     1.000000    2.700000e-06
1            +    50.000000    2.600000e-06
5            ^  3125.000000    2.300000e-06
10           +   627.000000    2.200000e-06
0            !   120.000000    2.100000e-06
7            /     1.000000    2.000000e-06
8            +     4.000000    2.000000e-06
3            *   625.000000    1.300000e-06
12           -     4.000000    1.200000e-06
4            /    31.500000    1.100000e-06
6            %    25.000000    1.100000e-06
9            /     3.758199    1.000000e-06
14           /    55.545455    1.000000e-06
13           *   625.000000    9.000000e-07
11           -   778.000000    8.000000e-07

# Resetting the indexes

In [34]:
df_calculations.reset_index(drop=True)

   action_type      results  execution_time
0            !   120.000000    2.100000e-06
1            +    50.000000    2.600000e-06
2            -     1.000000    2.700000e-06
3            *   625.000000    1.300000e-06
4            /    31.500000    1.100000e-06
5            ^  3125.000000    2.300000e-06
6            %    25.000000    1.100000e-06
7            /     1.000000    2.000000e-06
8            +     4.000000    2.000000e-06
9            /     3.758199    1.000000e-06
10           +   627.000000    2.200000e-06
11           -   778.000000    8.000000e-07
12           -     4.000000    1.200000e-06
13           *   625.000000    9.000000e-07
14           /    55.545455    1.000000e-06

# Rearranging the columns

In [38]:
sorted_by_exec_time = sorted_by_exec_time[['execution_time','action_type', 'results']]
sorted_by_exec_time

    execution_time action_type      results
2     2.700000e-06           -     1.000000
1     2.600000e-06           +    50.000000
5     2.300000e-06           ^  3125.000000
10    2.200000e-06           +   627.000000
0     2.100000e-06           !   120.000000
7     2.000000e-06           /     1.000000
8     2.000000e-06           +     4.000000
3     1.300000e-06           *   625.000000
12    1.200000e-06           -     4.000000
4     1.100000e-06           /    31.500000
6     1.100000e-06           %    25.000000
9     1.000000e-06           /     3.758199
14    1.000000e-06           /    55.545455
13    9.000000e-07           *   625.000000
11    8.000000e-07           -   778.000000